$Green: #41AF67;
$Red:#E64350;
$Blue:#2711EB;
$Gray:#636C72;

.background-open{
	background-color: $Open;
}

.background-inProgress{
	background-color: $InProgress;
}

.background-pending{
	background-color: $Pending;
}

.background-done{
	background-color: $Done;
}


.green{
	color: $Green;
}

.red{
	color: $Red;
}

.blue{
	color: $Blue;
}

.gray{
	color: $Gray;
}




