.fc-widget-header{
	background-color:#A7A7EA;
	font-size: 16px;
	font-style: bold;
	color: #FFF;
	padding: 8px 0 8px 0;
}

.fc-toolbar.fc-header-toolbar {
	margin-bottom: 0 !important;
	padding: 10px;
	background-color: #f0f3f5;
    border: 1px solid #c2cfd6;
}

.fc-left h2{
	font-size: 24px;
}


.fc-unthemed td.fc-today {
    background: #fcf8e3 ;
}